{% extends "base.html" %}

{% block title %} {{pet.name}}'s Details {% endblock %} 

{% block content %} 
    <div style="float:left; border-style:double;">
        <img src= "{{url_for('static', filename = pet.id|string+".jpg")}}" height="350" >
        <br>
        <button type="submit" style="background:red" onclick="location.href='{{url_for('delete',pet_id=pet.id)}}'"> Delete Pet </button>
    </div> 
    <div style="float:left; margin:10px;"> 
        <div>
            <h1 class="title">{{ pet.name }}</h1>
            <p><b>Age: &nbsp;</b> {{pet.age}}</p>
            <p><b>Bio: &nbsp;</b> {{pet.bio}}</p>
        </div>
        <hr>
        <div>
            <h2 class="title">Edit Pet</h2>
            {% if form %}
            <form action="{{url_for('pet_details',pet_id=pet.id)}}" method="POST">
                {{form.pet_name.label}}<br>
                {{form.pet_name}}<br>

                {{form.pet_age.label}}<br>
                {{form.pet_age}}<br>

                {{form.pet_bio.label}}<br>
                {{form.pet_bio}}<br>

                {{form.csrf_token}}
                {{form.submit}}
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}